/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .MobileHeader {
        display: inline;
    }

    .DesktopHeader {
        width: 89%;
        margin-left: 11%;
    }

    .searchContainer {
        display: flex;
        height: 35px;
        width: 500px;
        margin-top: -50px;
        margin-left: 500px;
    }

    .iconsContainer {
        position: absolute;
        top:  -10px;
        left: 50%;
        display: flex;
        margin: 3px 50px 5px 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .searchContainer {
        display: flex;
        height: 35px;
        width: 500px;
        margin-top: -50px;
        margin-left: 500px;
    }

    .iconsContainer {
        position: absolute;
        top:  -10px;
        left: 50%;
        display: flex;
        margin: 3px 50px 5px 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .searchContainer {
        display: flex;
        height: 35px;
        width: 500px;
        margin-top: -50px;
        margin-left: 500px;
    }

    .iconsContainer {
        position: absolute;
        top:  -10px;
        left: 50%;
        display: flex;
        margin: 3px 50px 5px 300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .DesktopHeader{
        width: 89%;
        margin-left: 6%;
    }

    .headerContainer {
        display: inline;
        text-align: center;
        width: 100%;
        
    }
    
    .searchContainer {
        display: flex;
        height: 10px;
        width: 400px;
        margin-left: 450px;
        position: absolute; 
        left: 25%; 
        border-radius: 100px; 
        background-color: 'chocolate';
    }
    
    .iconsContainer {
        position: absolute;
        top:  -12px;
        left: 50%;
        display: flex;
        margin: 3px 50px 5px 300px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .MobileHeader { 
        display: block;
    } 

    .DesktopHeader {
        width: 89%;
        margin-left: 6%;
    }

    .headerContainer {
        display: inline;
        text-align: center;
        width: 100%;
        
    }
    
    .searchContainer {
        display: flex;
        position: absolute; 
        height: 10px;
        width: 500px;
        top: -50px;
        margin-left: 250px;
        border-radius: 100px; 

    }
    
    .iconsContainer {
        position: absolute;
        top:  -12px;
        left: 70%;
        display: flex;
        margin: 3px 50px 5px 300px;
    }
} 
